<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div style="width:30%; height:auto;" class="p-5 bg-dark text-white float-left">
			<img src="https://resize-parismatch.lanmedia.fr/img/var/news/storage/images/paris-match/people-a-z/ryan-gosling/6048588-4-fre-FR/Ryan-Gosling.jpg" class="w-100" alt="">
			<h3 class="text-uppercase font-weight-bold" style=" color:#f39c12;">Développeur PHP</h3>
			<h3>
				<span class="text-uppercase">
					Michelotto
				</span>
				Julien
			</h3>
			<h5>
				<p>0498672058</p>
				<p>Julien_mick@hotmail.com</p>
				<p>Domaine les bruyeres, 10/4</p>
				<p>7000 Mons</p>
			</h5>
			<div class="pt-3">
				<p class="text-uppercase text-bold font-weight-bold text-muted">Langages informatiques</p>
				<p>HTML/CSS - JS - JQuery - SQL - PHP - Java - TWIG</p>
			</div>
			<div class="pt-3">
				<p class="text-uppercase text-bold font-weight-bold text-muted">Frameworks</p>
				<p>Symfony - Bootstrap - Spring</p>
			</div>
			<div class="pt-3">
				<p class="text-uppercase text-bold font-weight-bold text-muted">Frameworks</p>
				<p>Travail d’équipe - Autonomie - Bonne gestion du stress - Flexibilité - Ponctualité</p>
			</div>
			<div class="pt-3">
				<p class="text-uppercase text-bold font-weight-bold text-muted">Langues</p>
				<p>Français : langue maternelle
					<br>
					Anglais : bon niveau</p>
			</div>
			<div class="pt-3">
				<p class="text-uppercase font-weight-bold text-muted">Hobies</p>
				<p>Jeux vidéo - Trampoline - Activités diverses entre amis - Séries/Films</p>
			</div>

		</div>
		<div style="width:70%;" class="py-5 float-right">

			<div class="float-left w-25" style="width: 0;height: 0;border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 60px solid #f39c12;"></div>
			<div class="w-75 h1  text-uppercase font-weight-bold float-left" style="color:#f39c12;">
				Expérience professionnelles
			</div>
			<div class="clearfix"></div>
			<div class="w-100 py-3">
				<div class="w-25 text-center px-5 text-muted w-25 float-left">
					<p>11/20/21</p>
					<p>-</p>
					<p>Maintenant</p>
				</div>

				<div class="w-75 float-left">
					<p class="h5 text-uppercase font-weight-bold w-75">
						développeur it : BEONE GROUP, gosselies (temps partiel)
					</p>
					<p class="pr-2">
						Implémentation de fonctionnalités et de GUI dans des plateformes 
																		web. Principaux langages et frameworks utilisés : PHP,
																		JQuery, TWIG, JavaScript, Symfony 4, Bootstrap 4
					</p>
				</div>
			</div>
			<div class="clearfix border-bottom"></div>
			<div class="w-100 py-3">
				<div class="w-25 text-center px-5 text-muted w-25 float-left">
					<p>11/20/21</p>
					<p>-</p>
					<p>Maintenant</p>
				</div>

				<div class="w-75 float-left">
					<p class="h5 text-uppercase font-weight-bold w-75">
						Free-lance
					</p>
					<p class="pr-2">
						Création de sites Web (CMS WordPress) – Logos – Aches.
					</p>
				</div>
			</div>
			<div class="clearfix border-bottom"></div>
			<div class="w-100 py-3">
				<div class="w-25 text-center px-5 text-muted w-25 float-left">
					<p>11/20/21</p>
					<p>-</p>
					<p>Maintenant</p>
				</div>

				<div class="w-75 float-left">
					<p class="h5 text-uppercase font-weight-bold w-75">
						Hôte d’accueil : Basic-Fit, Ghlin (temps partiel)
					</p>
					<p class="pr-2">
						Accueil  des  membres  –  Renseignements  –  Inscriptions  –  Mises  à  jour  des  dossiers  –  Encodage  des  ventes – Prise de commandes – Gestion occasionnelle des horaires.
					</p>
				</div>
			</div>
			<div class="clearfix border-bottom"></div>
			<div class="w-100 py-3">
				<div class="w-25 text-center px-5 text-muted w-25 float-left">
					<p>11/20/21</p>
					<p>-</p>
					<p>Maintenant</p>
				</div>

				<div class="w-75 float-left">
					<p class="h5 text-uppercase font-weight-bold w-75">
						Stagiaire front-end développeur : NewEverBest, Charleroi
					</p>
					<p class="pr-2">
						Caisse – Réassort – Aide en boulangerie/boucherie.
					</p>
				</div>
			</div>
			<div class="clearfix border-bottom"></div>
			<div class="w-100 py-3">
				<div class="w-25 text-center px-5 text-muted w-25 float-left">
					<p>11/20/21</p>
					<p>-</p>
					<p>Maintenant</p>
				</div>
				<div class="w-75 float-left">
					<p class="h5 text-uppercase font-weight-bold w-75">
						Employé polyvalent : Delhaize, Falizole
					</p>
					<p class="pr-2">
						Création  de  sites  Web  (HTML/CSS),  CMS  WordPress,  Bootstrap)  –  
												e-commerce (PrestaShop) – logos – aches – yers – cartes de visite 
												– ches techniques pour chaussures de sécurité.
					</p>
				</div>
			</div>
			<div class="clearfix border-bottom"></div>
			<div class="w-100 py-3">
				<div class="w-25 text-center px-5 text-muted w-25 float-left">
					<p>11/20/21</p>
					<p>-</p>
					<p>Maintenant</p>
				</div>
				<div class="w-75 float-left">
					<p class="h5 text-uppercase font-weight-bold w-75">
						Ouvrier : AMP, Jumet
					</p>
					<p class="pr-2">
						Travail  à  la  chaine  (prestations  occasionnelles  en  tant  qu’intérimaire).
					</p>
				</div>
			</div>
			<div class="clearfix border-bottom mb-3"></div>
			<div class="float-left w-25" style="width: 0;height: 0;border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 60px solid #f39c12;"></div>
			<div class="w-75 h1  text-uppercase font-weight-bold float-left" style="color:#f39c12;">
				formations / diplômes
			</div>
			<div class="clearfix"></div>
			<div class="w-100 py-3">
				<div class="w-25 text-center px-5 text-muted w-25 float-left">
					<p>11/20/21</p>
					<p>-</p>
					<p>Maintenant</p>
				</div>
				<div class="w-75 float-left">
					<p class="h5 text-uppercase font-weight-bold w-75">
						Stage d’intégration professionnelle : BEONE GROUP, gosselies
					</p>
					<p class="pr-2">
						Développement/documentation d’une API en Symfony
					</p>
				</div>
			</div>
			<div class="clearfix border-bottom"></div>
			<div class="w-100 py-3" >

				<div class="w-25 text-center px-5 text-muted w-25 float-left">
					<p>11/20/21</p>
					<p>-</p>
					<p>Maintenant</p>
				</div>
				<div class="w-75 float-left">
					<p class="h5 text-uppercase font-weight-bold w-75 ">
						Bachelier  en  informatique  de  gestion,  IRAM,  Mons  (Actuellement  
																		en fin de 3e)
					</p>
					<p class="pr-2">
						Développement en JAVA: langage séquentiel, O.O, MVC, DAO, 
												Singleton – Gestion de base de données: CRUD, MySQL, PostgresQL, 
												SQLite – Réseaux – Gestion de projets – OS: Batch, Bash
					</p>
				</div>
			</div>
			<div class="clearfix border-bottom"></div>
			<div class="w-100 py-3">
				<div class="w-25 text-center px-5 text-muted w-25 float-left">
					<p>11/20/21</p>
					<p>-</p>
					<p>Maintenant</p>
				</div>
				<div class="w-75 float-left">
					<p class="h5 text-uppercase font-weight-bold w-75">
						Bachelier  en  Arts  Numériques,  Carré  des  arts,  Mons  (jusqu’à  la 2e)
					</p>
				</div>
			</div>
			<div class="clearfix border-bottom"></div>
			<div class="w-100 py-3">
				<div class="w-25 text-center px-5 text-muted w-25 float-left">
					<p>11/20/21</p>
					<p>-</p>
					<p>Maintenant</p>
				</div>
				<div class="w-75 float-left">
					<p class="h5 text-uppercase font-weight-bold w-75">
						CESS, Technique de qualification, Graphiste
					</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div style=" clear:both; page-break-after:always;"></div>

		</div>
	
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
